.wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.image {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.advancedImage {
  max-width: 100%;
  height: auto;
  display: block;
}

.placeholder {
  background-color: #f0f0f0;
  display: block;
}

.fillWrapper {
  position: relative;
  display: block;
  overflow: hidden;
}

.fillImage {
  object-fit: cover;
}
